<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RustyLogic.RedDotNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="RedDotNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RustyLogic.RedDotNet.Properties.Settings>
            <setting name="RedDotNet_Service_Session_SessionService" serializeAs="String">
                <value>http://rustylogiccms/CMS/Services/SessionService.asmx</value>
            </setting>
            <setting name="RedDotNet_Service_Rql_RqlService" serializeAs="String">
                <value>http://rustylogiccms/CMS/Services/RqlService.asmx</value>
            </setting>
            <setting name="RedDotNet_Service_Page_PageService" serializeAs="String">
                <value>http://rustylogiccms/CMS/Services/PageService.asmx</value>
            </setting>
            <setting name="RedDotNet_Service_Navigation_NavigationService"
                serializeAs="String">
                <value>http://rustylogiccms/CMS/Services/NavigationService.asmx</value>
            </setting>
        </RustyLogic.RedDotNet.Properties.Settings>
    </applicationSettings>
</configuration>